#content-div {
    display: flex;
}

.island-link {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: inherit;
}

.island-link:hover {
    text-decoration: none;
    color: lightgreen;
}

tr {
    line-height: 0.7;
}

.filter-div {
    width: 350px;
}

.data-div {
    width: 700px;
}

.btn-search {
    margin-top: 15px;
    width: 100%;
}

.coord-x {
    width: 80px;
    float: left;
}

.coord-y {
    width: 80px;
    float: left;
    margin-left: 20px;
}

.coordinates-inputs {
    display: inline-block;
}

label {
    margin-top: 10px;
    margin-bottom: 4px;
}

.paging-div {
    margin-bottom: 8px;
}

.form-control:focus {
  border-color: #00aa00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 150, 0, 0.6);
}

.form-control {
    background: #363636;
    border-color: #1a1a1a;
    color: #ddd;
}