.user-a {
    text-decoration: none;
    color: inherit;
}

.user-a:hover {
    text-decoration: none;
    color: lightgreen;
}

.order-a {
    text-decoration: none;
    color: inherit;
}

.order-a:hover {
    text-decoration: none;
    color: lightgreen;
}