table {
    line-height: 0.8;
    font-size: 14px;
    color: #fff;
}

.users-div {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
}

.player-a {
    text-decoration: none;
    color: inherit;
}

.player-a:hover {
    text-decoration: none;
    color: lightgreen;
}

.page-div {
    background: #242526;
    border: 1px solid #666;
    margin: 4px;
    border-radius: 15px;
    padding: 10px;
    color: #e4e6eb;
    margin-bottom: 10px;
    overflow: hidden;
}

.btn-action {
    height: 100%;
}

.search-div {
    margin-left: 10px;
    margin-right: 20px;
}

.order-select {
    width: 250px;
    display: inline-block;
}

.form-control:focus {
  border-color: #00aa00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 150, 0, 0.6);
}

.btn-visit {
    margin: 5px;
    flex: 1 0 0px;
}

.visited-users-div {
    display: flex;
    margin: 5px 0px 5px 0px;
    justify-content: space-around;
}

.inactive-player {
    color: gray;
}

.deleted-player {
    color: red;
}

.inline-form-group {
    float: left;
    margin-right: 5px;
}

#scrollToTopBtn {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}