body {
    background: #18191a;
    text-decoration:none;
    box-sizing: border-box;
}

tr:hover {
    background: #343536;
}

.main-div {
    background: #242526;
    border: 1px solid #666;
    margin: 4px;
    border-radius: 15px;
    padding: 10px;
    color: #e4e6eb;
    max-width: 1000px;
}

.table th {
    padding: 0.5rem;
    vertical-align: bottom;
}

.table td {
    padding: 0.55rem;
}

tr {
    line-height: 0.8;
    font-size: 14px;
}

.ships-number-input {
    color: #e4e6eb;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 45px;
    height: 15px;
    background: transparent;
}

.ships-number-input[value="0"] {
    color: #a4a6ab;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: lightgreen;
    padding: 0;
}

.sum-tr {
    color: lightgreen;
}

.form-control:focus {
  border-color: #00aa00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 150, 0, 0.6);
}