#content-div {
    display: flex;
}

.confirm-button {
    font-size: 20px;
    color: lightgreen;
    margin: 2px;
}

hr {
    background: #e4e6eb;
}

.island-square {
    width: 6px;
    height: 5px;
    line-height: 0;
    padding: 0;
    margin: 0;
    background: #007;
}

.confirm-btn {
    width: 100%;
    margin-top: 4px;
}

.color-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.color-div {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 2px;
    border-radius: 4px;
}

.map-div {
    margin-left: 0px;
}

.user {
    background: #fff;
}

.search {
    background: lightgreen;
}

.occupied {
    background: #666;
}

.empty {
    background: #444;
}

.btn-rank {
    color: lightgreen;
    padding: 0;
    font-size: 20px;
}

#search-row {
    display: flex;
    max-width: 700px;
}

.search-col {
    flex: 1;
    padding: 4px;
}

#select-islands-div {
    display: flex;
}

#select-islands-type {
    flex: 7;
}

#select-islands-value {
    flex: 3;
}

#islandTable {
    margin: 0;
    padding: 0;
    border: solid 1px #000;
    margin-left: auto;
    margin-right: auto;
}

#towns-table {
    line-height: 28px;
    width: 100%;
}

#towns-div {
    min-width: 420px;
}

#map-div {
    min-width: 640px;
}

#users-div {
    display: flex;
}

.compare-user {
    margin: 5px 10px 5px 0px;
    background: #343434;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
    border: 1px solid #111;
}

.compare-user:hover {
    color: red;
}

.rank-title {
    font-size: 11px;
    margin: 0px;
    text-align: center;
}

.rank-value {
    font-size: 16px;
    margin: 0px;
    text-align: center;
}

