.content-div {
    display: flex;
    flex-wrap: wrap;
}

table {
    margin: 4px;
}

table.table-bordered > tbody > tr > td{
    border:.5px solid #888;
}

.building-a {
    width: 100%;
    display: block;
    text-decoration:none;
    color: #333333;
    padding: 0px;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
}

table.table-bordered > tbody > tr:hover {
    background: #88ff88;
}

table.table-bordered > tbody > tr > th{
    font-size: 14px;
    font-family: 'Sora', sans-serif;;
    border:.5px solid #888;
    background-color: #1de9b6;
    color: #000000;
    font-weight: normal;
}

tr {
    background: #e4e4e4;

}

tr:nth-child(even) {background-color: #ffffff;}

.developing_td[is_upgrading=True] {
   background: #FFFF00;
}

.level-div {
    height:100%;
    width:100%;
}
.max-level {
    color: #0b0;
}

.not-max-level {
    color: #f00;
}

.div-box {
    color: #fff;
}

.compare-div {
    width: 275px;
}


hr {
    background: #e4e6eb;
}

.div-name {
    font-size: 20px;
}

.single-level-div {
    display: flex;
    line-height: 36px;
}

.manage-building-btn {
    width: 100%;
    margin-top: 10px;
}

#sum-div {
    margin: 5px;
    font-weight: 600;
}

#submit-building {
    width: 100%;
}

#tile-content {
    position: relative;
}

#is-upgraded-tile {
    position: absolute;
    width: 20px;
    height: 30px;
    background: yellow;
    top: -10px;
    left: 10px;
    color: black;
    border: 1px solid #666;
}


