
{% extends "base.html" %}
{% block head %}
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'helper/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'helper/admin.css' %}">
    <title>Admin</title>
{% endblock %}

{% block content %}
<div class="main-div" style="width: 350px; float: left;">
    <h5>Ranking</h5>
    <form action="{% url 'helper:web_scrap' %}" method="post">
        {% csrf_token %}
        <label>HTML</label>
        <textarea name="textarea"></textarea>
        <button type="submit" class="btn btn-success submit-btn">Wykonaj</button>
    </form>
    <hr>
    <h5>Wyspa</h5>
    <form action="{% url 'helper:web_scrap_island' %}" method="post">
        {% csrf_token %}
        <label>HTML</label>
        <textarea name="textarea"></textarea>
        <button type="submit" class="btn btn-success submit-btn">Wykonaj</button>
    </form>
    <hr>
    <h5>Miasto</h5>
    <form action="{% url 'helper:web_scrap_town' %}" method="post">
        {% csrf_token %}
        <label>HTML</label>
        <textarea name="textarea"></textarea>
        <button type="submit" class="btn btn-success submit-btn">Wykonaj</button>
    </form>
</div>
<div class="main-div" style="width: 350px; float: left;">
    <h5>Wszystkie wyspy</h5>
    <form action="{% url 'helper:web_scrap_all_islands' %}" method="post">
        {% csrf_token %}
        <label>Cookie</label>
        <input class="form-control" type="text" maxlength="2000" name="cookie">
        <label>Hasło</label>
        <input class="form-control" type="text" maxlength="5" name="password">
        <label></label>
        <button type="submit" class="btn btn-success submit-btn">Przeszukaj</button>
    </form>
</div>
{% endblock %}