{% extends "base.html" %}

{% load static %}

{% block head %}
    <script type="text/javascript">window.delete = function() { var isValid = confirm('Czy na pewno chcesz usunąć?');if (!isValid) { event.preventDefault();}}</script>
    <link rel="stylesheet" type="text/css" href="{% static 'helper/island.css' %}">
    {% load helper_extras %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
{% include "helper/navigation.html" %}
<div id="content-div">
    <div class="tile">
        <div class="row">
            <div class="col">
                <h5>{{island.name}} [{{island.x}}:{{island.y}}] ({{towns.count}} miast)</h5>
            </div>
        </div>
        <div class="resources-div">
            <div class="wood-div">
                <div>
                    <img src="{{island.wood_resource.mine_image_path.url}}" alt="img">
                    <div class="level level-resource">
                        <p>{{island.wood_level.level}}</p>
                    </div>
                    <p style="text-align: center"><img title="Następny poziom" src="{% static 'helper/icons/icon_wood.png' %}" alt="" width="25px" height="20" > {{next_level_saw_mill_cost|number_commas}}</p>
                </div>
            </div>
            <div class="luxury-div">
                <img src="{{island.luxury_resource.mine_image_path.url}}" alt="img">
                <div class="level level-resource">
                    <p>{{island.luxury_level.level}}</p>
                </div>
                <p style="text-align: center"><img title="Następny poziom" src="{% static 'helper/icons/icon_wood.png' %}" alt="" width="25px" height="20" > {{next_level_mine_cost|number_commas}}</p>
            </div>
            {% if island.miracle %}
            <div class="miracle-div">
                <img src="{{island.miracle.image_path.url}}" alt="img">
                <div class="level level-miracle">
                    <p>{{island.miracle_level}}</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div>
            {% if towns %}
            <table>
                <tr>
                    <th>Miasto</th>
                    <th>Poziom</th>
                    <th>Użytkownik</th>
                    <th>Punkty</th>
                    <th>Datki</th>

                </tr>
                {% for town in towns %}
                    {% ifchanged town.user.user_name %}
                        <tr class="break-line">
                            <td colspan="100%"></td>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>
                            {% if town.level <= 1 %}
                                <img src="{% static 'helper/town_halls/town_hall_1.png' %}" alt="" width="25px" height="25px" >
                            {% elif town.level <= 3 %}
                                <img src="{% static 'helper/town_halls/town_hall_2.png' %}" alt="" width="25px" height="25px" >
                            {% elif town.level <= 6 %}
                                <img src="{% static 'helper/town_halls/town_hall_3.png' %}" alt="" width="25px" height="25px" >
                            {% elif town.level <= 9 %}
                                <img src="{% static 'helper/town_halls/town_hall_4.png' %}" alt="" width="25px" height="25px" >
                            {% elif town.level <= 12 %}
                                <img src="{% static 'helper/town_halls/town_hall_5.png' %}" alt="" width="25px" height="25px" >
                            {% elif town.level <= 15 %}
                                <img src="{% static 'helper/town_halls/town_hall_6.png' %}" alt="" width="25px" height="25px" >
                            {% elif town.level <= 17 %}
                                <img src="{% static 'helper/town_halls/town_hall_7.png' %}" alt="" width="25px" height="25px" >
                            {% else %}
                                <img src="{% static 'helper/town_halls/town_hall_8.png' %}" alt="" width="25px" height="25px" >
                            {% endif %}
                            {{town.town_name}}
                        </td>
                        <td>
                            {{town.level}}
                        </td>
                        <td>
                            {% ifchanged town.user.user_name %}
                                <a class="user-a" {% if town.user.user_status.id == 2 %} style="color: gray" {% endif %} href="{% url 'helper:user_towns' town.user.id %}">
                                    {% if town.user.user_status.id == 4 %}
                                        <img src="{% static 'helper/icons/vacation_icon.png' %}" alt="something" width="16px" height="16" >
                                    {% endif %}
                                    {{town.user.user_name}}
                                    {% if town.user.alliance %}
                                    [{{town.user.alliance.tag}}]
                                    {% endif %}
                                </a>
                            {% endifchanged %}
                        </td>
                        <td>
                            {% ifchanged town.user.user_name %}
                                {{town.user.score|number_commas}}
                            {% endifchanged %}
                        </td>
                        <td>
                            {% ifchanged town.user.user_name %}
                                {{town.user.donations|number_commas}}
                            {% endifchanged %}
                        </td>

                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <tr class="break-line">
                <td colspan="100%"></td>
            </tr>
            <h5>Brak miast</h5>
             {% endif %}


        </div>
    </div>
    <div class="tile edit-div">
        <h5>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
            Edytuj wyspę</h5>
        <form action="{% url 'helper:edit_island' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{island.id}}" name="island_id">
            <input type="hidden" value="{{user.id}}" name="user_id">
            <input type="hidden" value="{{island.x}}" name="x">
            <input type="hidden" value="{{island.y}}" name="y">

            <label>Tartak poziom</label>
            <input type="number" class="form-control" name="wood_level" value="{{island.wood_level.level}}" max="60" min="1">
            <hr>
            <label>Surowiec luksusowy</label>
            <select class="form-control" name="luxury_resource">
                <option value="2" {% ifequal 2 island.luxury_resource.id %} selected{% endifequal %}>Wino</option>
                <option value="3" {% ifequal 3 island.luxury_resource.id %} selected{% endifequal %}>Marmur</option>
                <option value="4" {% ifequal 4 island.luxury_resource.id %} selected{% endifequal %}>Kryształ</option>
                <option value="5" {% ifequal 5 island.luxury_resource.id %} selected{% endifequal %}>Siarka</option>
            </select>

            <label>Kopalnia poziom</label>
            <input type="number" class="form-control" name="luxury_level" value="{{island.luxury_level.level}}" max="60" min="1">
            <hr>
            <label>Cud</label>
            <select class="form-control" name="miracle_type">
                {% for miracle_type in miracle_types %}
                <option value="{{miracle_type.id}}" {% ifequal miracle_type.id island.miracle.id %} selected{% endifequal %}>{{miracle_type.name}}</option>
                {% endfor %}
            </select>
            <label>Cud poziom</label>
            <input type="number" class="form-control" name="miracle_level" value="{{island.miracle_level}}" max="5" min="1">

            <label>Wieża</label>
            <select class="form-control" name="has_tower">
                <option value="True" {% if island.has_tower  %} selected{% endif %}>Tak</option>
                <option value="False" {% if not island.has_tower %} selected{% endif %}>Nie</option>
            </select>

            <button class="btn btn-success submit-btn" type="submit">Zapisz</button>

        </form>
    </div>
</div>
{% endblock %}