{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'helper/islands.css' %}">
{% endblock %}
{% block content %}
     {% load widget_tweaks %}

    {% include "helper/navigation.html" %}

<div id="content-div">
     <div class="tile data-div">
        {% if islands_list %}
        <div class="row">
            <div class="col"><h5>Znalezionych wysp: {{islands_found}}</h5></div>
            <div class="col"><h5>Znalezionych miast: {{towns}}</h5></div>
        </div>

        <div class="paging-div">
            {% for button in buttons %}
                {% if button > 0 %}
                <a href="{% url 'helper:islands' user_id=user_id %}?page={{button}}&x={{x}}&y={{y}}&luxury_resource={{luxury_resource}}&wood_level={{wood_level}}&luxury_level={{luxury_level}}&order_by={{order_by}}" class="btn btn-success  {% if button == page_num %} disabled {% endif %}">{{button}}</a>

                {% else %}
                ...
                {% endif %}
            {% endfor %}
        </div>

        <table class="table">
            <tr>
                <th>Nazwa</th>
                <th>X</th>
                <th>Y</th>
                <th>Tartak</th>
                <th>Kopalnia</th>
                <th>Cud</th>
                <th>Miasta</th>
            </tr>
            {% for island in islands_list%}
            <tr>
                <td><a class="island-link" href="{% url 'helper:island' user_id island.id %}">{{island.name}}</a></td>
                <td>{{island.x}}</td>
                <td>{{island.y}}</td>
                <td>{{island.wood_level}} <img src="{{island.wood_resource.image_path.url}}" alt="img" width="25px" height="20"></td>
                <td>{{island.luxury_level}} <img src="{{island.luxury_resource.image_path.url}}" alt="img" width="25px" height="20"></td>
                <td title="{{island.miracle.name}}">{{island.miracle_level}} <img src="{{island.miracle.image_path.url}}" alt="img" width="20px" height="20px"></td>
                <td>{{island.towns}} <img src="{% static "helper/icons/town_icon.png" %}" alt="something" width="23px" height="20px" ></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h5>
            <svg style="color: red;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
            Nie znaleziono żadnej wyspy</h5>
        {% endif %}
    </div>

    {% load widget_tweaks %}

    <div class="tile filter-div">
        <h5>Znajdź wyspę</h5>
        <form method="get">

            <div>
                <div>
                    <label>Współrzędne</label>
                </div>
                <div class="coordinates-inputs">
                    <div class="coord-x">
                        <label>&nbsp;X:</label>
                        {% render_field my_filter.form.x class="form-control" %}
                    </div>
                    <div class="coord-y">
                        <label>&nbsp;Y:</label>
                        {% render_field my_filter.form.y class="form-control" %}
                    </div>
                </div>
            </div>

            <div>
                <label>Rodzaj kopalni:</label>
                {% render_field my_filter.form.luxury_resource class="form-control" %}
            </div>
            <div>
                <label>Tartak powyżej poziomu:</label>
                {% render_field my_filter.form.wood_level class="form-control" %}
            </div>
            <div>
                <label>Kopalnia powyżej poziomu:</label>
                {% render_field my_filter.form.luxury_level class="form-control" %}
            </div>
            <div>
                <label>Wieża:</label>
                {% render_field my_filter.form.has_tower class="form-control" %}
            </div>
            <div>
                <label>Sortuj według:</label>
                {% render_field my_filter.form.order_by class="form-control" %}
            </div>
            <button class="btn btn-success btn-search" type="submit">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
                Szukaj</button>
        </form>
    </div>
</div>
{% endblock %}