{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'helper/panel.css' %}">
{% endblock %}

{% block content %}
{% include "helper/navigation.html" %}
<div class="tile" style="width: 350px; float: left;">
    <h5>Ranking</h5>
    <form action="{% url 'helper:web_scrap' %}" method="post">
        {% csrf_token %}
        <label>HTML</label>
        <input class="form-control" name="html_data">
        <button type="submit" class="btn btn-success submit-btn">Wykonaj</button>
    </form>
    <hr>
    <h5>Wyspa</h5>
    <form action="{% url 'helper:web_scrap_island' %}" method="post">
        {% csrf_token %}
        <label>HTML</label>
        <input class="form-control" name="textarea">
        <button type="submit" class="btn btn-success submit-btn">Wykonaj</button>
    </form>
    <hr>
    <h5>Miasto</h5>
    <form action="{% url 'helper:web_scrap_town' %}" method="post">
        {% csrf_token %}
        <label>HTML</label>
        <input class="form-control" name="html">
        <button type="submit" class="btn btn-success submit-btn">Wykonaj</button>
    </form>
</div>
<div class="tile" style="width: 350px; float: left;">
    <h5>Wszystkie wyspy</h5>
    <form action="{% url 'helper:web_scrap_all_islands' %}" method="post">
        {% csrf_token %}
        <label>Cookie</label>
        <input class="form-control" type="text" maxlength="2000" name="cookie">
        <label>Hasło</label>
        <input class="form-control" type="text" maxlength="5" name="password">
        <label></label>
        <button type="submit" class="btn btn-success submit-btn">Przeszukaj</button>
    </form>
</div>

<div class="tile"  style="width: 350px; float: left;">
    {{key}}
    <form action="{% url 'helper:set_all_users_deleted' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success submit-btn">Ustaw wszystkim "Usunięty"</button>
    </form>
</div>

{% endblock %}