{% extends "base.html" %}
{% block head %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'helper/resources_rank.css' %}">
        {% load helper_extras %}
{% endblock %}
{% block content %}
    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}


    <div class="tile">
        <h5>Ranking wydobycia surowców - TOP 50</h5>
        <p></p>
        <table class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Nazwa</th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=wood">Drewno
                        {% ifequal order 'wood' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=luxury">
                        Luksusowe
                        {% ifequal order 'luxury' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=wine">
                        Wino
                        {% ifequal order 'wine' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=marble">
                        Marmur
                        {% ifequal order 'marble' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=crystal">
                        Kryształ
                        {% ifequal order 'crystal' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=sulfur">
                        Siarka
                        {% ifequal order 'sulfur' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                </tr>
            </thead>
            <tbody>
                {% for row in resources_by_user %}
                    <tr>
                        <td>{{forloop.counter}}.</td>
                        <td><a class="user-a" href="{% url 'helper:user_towns' row.0 %}">{{row.1}}</a></td>
                        <td>{% ifequal row.2 None %}0{% else %}{{row.2|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.3 None %}0{% else %}{{row.3|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.4 None %}0{% else %}{{row.4|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.5 None %}0{% else %}{{row.5|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.6 None %}0{% else %}{{row.6|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.7 None %}0{% else %}{{row.7|number_commas}}{% endifequal %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}