{% extends "base.html" %}

{% load static %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'helper/resources_rank.css' %}">
        {% load helper_extras %}
{% endblock %}
{% block content %}
    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}


    <div class="tile" id="resources-rank">
        <h5>Ranking wydobycia surowców - TOP 100</h5>
        <p></p>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th><a class="order-a {% ifequal order 'all' %} order {% endifequal %}" href="{% url 'helper:resources_rank' user_id %}?order=all">Suma
                    </a></th>
                    <th><a class="order-a {% ifequal order 'wood' %} order {% endifequal %}" href="{% url 'helper:resources_rank' user_id %}?order=wood">
                        <img title="Drewno" src="{% static 'helper/icons/icon_wood.png' %}" alt="" width="25px" height="20">Drewno
                    </a></th>
                    <th><a class="order-a {% ifequal order 'luxury' %} order {% endifequal %}" href="{% url 'helper:resources_rank' user_id %}?order=luxury">
                        <img title="Luksusowe" src="{% static 'helper/icons/icon_luxury.png' %}" alt="" width="25px" height="20">Luksusowe
                    </a></th>
                    <th><a class="order-a {% ifequal order 'wine' %} order {% endifequal %}" href="{% url 'helper:resources_rank' user_id %}?order=wine">
                        <img title="Wino" src="{% static 'helper/icons/icon_wine.png' %}" alt="" width="25px" height="20">Wino
                    </a></th>
                    <th><a class="order-a {% ifequal order 'marble' %} order {% endifequal %}" href="{% url 'helper:resources_rank' user_id %}?order=marble">
                        <img title="Marmur" src="{% static 'helper/icons/icon_marble.png' %}" alt="" width="25px" height="20">Marmur
                    </a></th>
                    <th><a class="order-a {% ifequal order 'crystal' %} order {% endifequal %}" href="{% url 'helper:resources_rank' user_id %}?order=crystal">
                        <img title="Kryształ" src="{% static 'helper/icons/icon_glass.png' %}" alt="" width="25px" height="20">Kryształ
                    </a></th>
                    <th><a class="order-a {% ifequal order 'sulfur' %} order {% endifequal %}" href="{% url 'helper:resources_rank' user_id %}?order=sulfur">
                        <img title="Siarka" src="{% static 'helper/icons/icon_sulfur.png' %}" alt="" width="25px" height="20">Siarka
                    </a></th>
                </tr>
            </thead>
            <tbody>
                {% for row in resources_by_user %}
                    <tr>
                        <td>{{forloop.counter}}.</td>
                        <td><a href="{% url 'helper:user_towns' row.userid %}">{{row.user_name}}</a></td>
                        <td>{{row.all}}</td>
                        <td>{{row.wood}}</td>
                        <td>{{row.luxury}}</td>
                        <td>{% if row.wine %}{{row.wine}} {% else %} 0 {% endif %}</td>
                        <td>{% if row.marble %}{{row.marble}} {% else %} 0 {% endif %}</td>
                        <td>{% if row.crystal %}{{row.crystal}} {% else %} 0 {% endif %}</td>
                        <td>{% if row.sulfur %}{{row.sulfur}} {% else %} 0 {% endif %}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}