{% extends "base.html" %}

{% load static %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'helper/resources_rank.css' %}">
        {% load helper_extras %}
{% endblock %}
{% block content %}
    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}


    <div class="tile">
        <h5>Ranking wydobycia surowców - TOP 100</h5>
        <p></p>
        <table class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=all_workers">Suma
                        {% ifequal order 'all_workers' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=wood_workers">
                        <img title="Drewno" src="{% static 'helper/icons/icon_wood.png' %}" alt="" width="25px" height="20">Drewno
                        {% ifequal order 'wood_workers' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=luxury_workers">
                        <img title="Drewno" src="{% static 'helper/icons/icon_luxury.png' %}" alt="" width="25px" height="20">Luksusowe
                        {% ifequal order 'luxury_workers' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=wine_workers">
                        <img title="Drewno" src="{% static 'helper/icons/icon_wine.png' %}" alt="" width="25px" height="20">Wino
                        {% ifequal order 'wine_workers' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=marble_workers">
                        <img title="Drewno" src="{% static 'helper/icons/icon_marble.png' %}" alt="" width="25px" height="20">Marmur
                        {% ifequal order 'marble_workers' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=crystal_workers">
                        <img title="Drewno" src="{% static 'helper/icons/icon_glass.png' %}" alt="" width="25px" height="20">Kryształ
                        {% ifequal order 'crystal_workers' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                    <th><a class="order-a" href="{% url 'helper:resources_rank' user_id %}?order=sulfur_workers">
                        <img title="Drewno" src="{% static 'helper/icons/icon_sulfur.png' %}" alt="" width="25px" height="20">Siarka
                        {% ifequal order 'sulfur_workers' %}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>{% endifequal %}
                    </a></th>
                </tr>
            </thead>
            <tbody>
                {% for row in resources_by_user %}
                    <tr>
                        <td>{{forloop.counter}}.</td>
                        <td><a class="user-a" href="{% url 'helper:user_towns' row.0 %}">{{row.1}}</a></td>
                        <td>{% ifequal row.2 None %}0{% else %}{{row.2|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.3 None %}0{% else %}{{row.3|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.4 None %}0{% else %}{{row.4|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.5 None %}0{% else %}{{row.5|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.6 None %}0{% else %}{{row.6|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.7 None %}0{% else %}{{row.7|number_commas}}{% endifequal %}</td>
                        <td>{% ifequal row.8 None %}0{% else %}{{row.8|number_commas}}{% endifequal %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}