{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'helper/sawmill.css' %}">
    {% load helper_extras %}
{% endblock %}

{% block content %}
    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}
    <div style="display: flex;">
        <div class="tile container">
            <h5>Tartak</h5>
            <table class="table">
                <tr>
                    <th>Poziom</th>
                    <th>Pracownicy</th>
                    <th>Cena</th>
                </tr>
                {% for sawmill in sawmills %}
                    <tr>
                        <td>{{sawmill.level}}</td>
                        <td>{{sawmill.workers|number_commas}}</td>
                        <td>{{sawmill.cost|number_commas}}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="tile container">
            <h5>Kopalnia</h5>
            <table class="table">
                <tr>
                    <th>Poziom</th>
                    <th>Pracownicy</th>
                    <th>Cena</th>
                </tr>
                {% for mine in mines %}
                    <tr>
                        <td>{{mine.level}}</td>
                        <td>{{mine.workers|number_commas}}</td>
                        <td>{{mine.cost|number_commas}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="tile container">
            <form action="{% url 'helper:sawmill' %}" method="GET">
                <input class="form-control" name="town_name" type="text">
                <button class="btn btn-success" type="submit">Znajdź</button>
            </form>

            <table class="table">
                <tr>
                    <th>Nazwa</th>
                    <th>Gracz</th>
                    <th>Współrzędne</th>
                </tr>
                {% for town in towns %}
                    <tr>
                        <td>{{town.town_name}}</td>
                        <td>{{town.user.user_name}}</td>
                        <td>[{{town.island.x}}:{{town.island.y}}]</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}