{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'helper/units.css' %}">
    {% load helper_extras %}
{% endblock %}

{% block content %}
    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}

    <div class="tile">
        {% for ship in ships %}
            <div class="card-div">
                <table>
                    <tr>
                        <td><img src="{{ship.big_image_path.url}}" alt="img" width="169" height="154"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            {{ship.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="break-line"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if ship.wood_costs != 0 %}<img title="Drewno" src='{% static "helper/icons/icon_wood.png" %}' alt="" width="25px" height="20" > {{ship.wood_costs}} {% endif %}
                            {% if ship.wine_costs != 0 %}<img title="Wino" src='{% static "helper/icons/icon_wine.png" %}' alt="" width="25px" height="20" > {{ship.wine_costs}} {% endif %}
                            {% if ship.crystal_costs != 0 %}<img title="Kryształ" src='{% static "helper/icons/icon_glass.png" %}' alt="" width="25px" height="20" > {{ship.crystal_costs}} {% endif %}
                            {% if ship.sulfur_costs != 0 %}<img title="Siarka" src='{% static "helper/icons/icon_sulfur.png" %}' alt="" width="25px" height="20" > {{ship.sulfur_costs}} {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img title="Koszty utrzymania" src="{% static "helper/icons/upkeep.png" %}" alt="" width="25px" height="20" > {{ship.hour_costs}}
                            <img title="Obywatele" src="{% static "helper/icons/icon_citizen.png" %}" alt="" width="19px" height="20" > {{ship.men_costs}}
                            <img title="Czas budowy" src="{% static "helper/icons/icon_time.png" %}" alt="" width="19px" height="20" > {{ship.time|get_time}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="break-line"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img title="Obrażenia" src="{% static "helper/icons/damage.png" %}" alt="" width="25px" height="25" > {{ship.damage}}
                            {% if ship.damage_upgrade > 0 %} (+{{ship.damage_upgrade}}) {% endif %}
                            <img title="Pancerz" src="{% static "helper/icons/armor.png" %}" alt="" width="25px" height="25" > {{ship.armor}}
                            {% if ship.damage_upgrade > 0 %} (+{{ship.armor_upgrade}}) {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img title="Punkty zdrowia" src="{% static "helper/icons/hit_points_icon.png" %}" alt="" width="25px" height="25" > {{ship.hit_points}}
                            <img title="Szybkość" src="{% static "helper/icons/speed_icon.png" %}" alt="" width="25px" height="25" > {{ship.speed}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="break-line"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Wielkość: {{ship.size}}</td>
                    </tr>
                    <tr>
                        <td>Stocznia: {{ship.shipyard_level}}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}