{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'helper/statistics.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script type="text/javascript">
       var colors = [
            "rgba(255, 255, 255, 1)",
            "rgba(119, 119, 119, 1)",
            "rgba(50, 200, 50, 1)",
            "rgba(200, 50, 50, 1)",
            "rgba(81, 205, 160, 1)",
            "rgba(223, 121, 112, 1)",
            "rgba(76, 156, 160, 1)",
            "rgba(174, 125, 153, 1)",
            "rgba(201, 212, 92, 1)"
        ];
        var backgroundColors = [
            "rgba(255, 255, 255, 0.05)",
            "rgba(119, 119, 119, 0.05)",
            "rgba(50, 200, 50, 0.05)",
            "rgba(200, 50, 50, 0.05)",
            "rgba(81, 205, 160, 0.05)",
            "rgba(223, 121, 112, 0.05)",
            "rgba(76, 156, 160, 0.05)",
            "rgba(174, 125, 153, 0.05)",
            "rgba(201, 212, 92, 0.05)"
        ];

        window.onload = function script() {
            var users_config = {
                type: 'line',
                data: {
                    datasets: [
                    {
                      data: [{% for data in user_statistics_histories %}
                        {% if data.active_users %}
                            { x: new Date({{data.time.year}}, {{data.time.month}}-1, {{data.time.day}}), y: {{data.active_users}} },
                        {% endif %}
                      {% endfor %}],
                      label: 'Aktywni',
                      labels: [{% for data in user_statistics_histories %} {% if data.active_users %} {{data.active_users}}, {% endif %} {% endfor %}],
                      lineTension: 0.3,
                      pointRadius: 3,
                      pointBorderColor: colors[0],
                      backgroundColor: backgroundColors[0],
                      borderColor: colors[0]
                    },
                    {
                      data: [{% for data in user_statistics_histories %}
                        {% if data.inactive_users %}
                            { x: new Date({{data.time.year}}, {{data.time.month}}-1, {{data.time.day}}), y: {{data.inactive_users}} },
                        {% endif %}
                      {% endfor %}],
                      label: 'Nieaktywni',
                      labels: [{% for data in user_statistics_histories %} {% if data.inactive_users %} {{data.inactive_users}}, {% endif %} {% endfor %}],
                      lineTension: 0.3,
                      pointRadius: 3,
                      pointBorderColor: colors[1],
                      backgroundColor: backgroundColors[1],
                      borderColor: colors[1]
                    },
                    {
                      data: [{% for data in user_statistics_histories %}
                        {% if data.on_vacation_users %}
                            { x: new Date({{data.time.year}}, {{data.time.month}}-1, {{data.time.day}}), y: {{data.on_vacation_users}} },
                        {% endif %}
                      {% endfor %}],
                      label: 'Na urlopie',
                      labels: [{% for data in user_statistics_histories %} {% if data.on_vacation_users %} {{data.on_vacation_users}}, {% endif %} {% endfor %}],
                      lineTension: 0.3,
                      pointRadius: 3,
                      pointBorderColor: colors[2],
                      backgroundColor: backgroundColors[2],
                      borderColor: colors[2]
                    },
                    {
                      data: [{% for data in user_statistics_histories %}
                        {% if data.deleted_users %}
                            { x: new Date({{data.time.year}}, {{data.time.month}}-1, {{data.time.day}}), y: {{data.deleted_users}} },
                        {% endif %}
                      {% endfor %}],
                      label: 'Usunięci',
                      labels: [{% for data in user_statistics_histories %} {% if data.deleted_users %} {{data.deleted_users}}, {% endif %} {% endfor %}],
                      lineTension: 0.3,
                      pointRadius: 3,
                      pointBorderColor: colors[3],
                      backgroundColor: backgroundColors[3],
                      borderColor: colors[3]
                    },
                    ],
                  },
                  options: {
                    responsive: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var dataset = data.datasets[tooltipItem.datasetIndex];
                                var index = tooltipItem.index;
                                return dataset.labels[index];
                            }
                        }
                    },
                    plugins: {
                      legend: {
                        position: 'top',
                      },
                      title: {
                        display: true,
                        text: 'Chart.js Line Chart'
                      }
                    },
                  scales: {
                    xAxes: [{
                      type: 'time',
                      autoSkip: false
                    }],
                    yAxes: {
                      type: 'number',
                      autoSkip: false
                    },
                  }

                  },
             };
            var ctx = document.getElementById('users_chart').getContext('2d');
            window.users_chart = new Chart(ctx, users_config);

            var alliances_config = {
                type: 'line',
                data: {
                    datasets:
                    [
                        {% for alliance in alliance_histories %}
                        {
                            data: [{% for data in alliance %} { x: new Date({{data.time.year}}, {{data.time.month}}-1, {{data.time.day}}), y: {{data.points}} }, {% endfor %}],
                            label: '{{alliance.0.alliance.tag}}',
                            labels: [{% for data in alliance %} {{data.points}}, {% endfor %}],
                            lineTension: 0.3,
                            pointRadius: 3,
                            pointBorderColor: colors[{{forloop.counter}} % colors.length],
                            backgroundColor: backgroundColors[{{forloop.counter}} % backgroundColors.length],
                            borderColor: colors[{{forloop.counter}} % colors.length]
                        },
                        {% endfor %}
                    ],
                  },
                  options: {
                    responsive: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var dataset = data.datasets[tooltipItem.datasetIndex];
                                var index = tooltipItem.index;
                                return dataset.labels[index];
                            }
                        }
                    },
                    plugins: {
                      legend: {
                        position: 'top',
                      },
                      title: {
                        display: true,
                        text: 'Chart.js Line Chart'
                      }
                    },
                  scales: {
                    xAxes: [{
                      type: 'time',
                      autoSkip: false
                    }],
                    yAxes: {
                      type: 'number',
                      autoSkip: false
                    },
                  }

                  },
             };
            var ctx = document.getElementById('alliances_chart').getContext('2d');
             window.alliances_chart = new Chart(ctx, alliances_config);
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    {% load helper_extras %}
{% endblock %}

{% block content %}

{% include "helper/navigation.html" %}
<div class="tile">
    <div class="row">
        <div class="col">
            <p class="title-p">Wszyscy użytkownicy</p>
            <p class="value-p">{{ all_users }}</p>
        </div>
        <div class="col">
            <p class="title-p">Aktywni <img src="{% static 'helper/icons/active_icon.png' %}" alt="" width="14px" height="21px" ></p>
            <p class="value-p">{{ active_users }}</p>
        </div>
        <div class="col">
            <p class="title-p">Niekatywni</p>
            <p class="value-p" style="color: #777;">{{ inactive_users }}</p>
        </div>
        <div class="col">
            <p class="title-p">Na urlopie  <img src="{% static 'helper/icons/vacation_icon.png' %}" alt="" width="16px" height="16px" ></p>
            <p class="value-p">{{ on_vacation_users }}</p>
        </div>
        <div class="col">
            <p class="title-p">Usunięci</p>
            <p class="value-p" style="color: red;">{{ deleted_users }}</p>
        </div>
    </div>
</div>

<div class="tile">
    <div class="row center">
        <h3>Gracze</h3>
    </div>
    <div class="row center">
         <canvas id="users_chart"></canvas>
    </div>

    <form action="{% url 'helper:save_users_statistics' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{user.id}}">
        <button class="btn btn-success">Zapisz statystyki</button>
    </form>
</div>

<div class="tile">
    <div class="row center">
        <h3>Sojusze</h3>
    </div>

    <div class="row center">
        <canvas id="alliances_chart"></canvas>
    </div>

    <form action="{% url 'helper:save_alliances_statistics' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{user.id}}">
        <button class="btn btn-success">Zapisz statystyki</button>
    </form>
</div>
{% endblock %}