{% extends "base.html" %}

{% load static %}

{% block head %}
        <script type="text/javascript">
            window.delete = function() { var isValid = confirm('Czy na pewno chcesz usunąć?');if (!isValid) { event.preventDefault();}}
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script type="text/javascript">
            var users = [{% for user_name in compare_user_names %} '{{user_name}}', {% endfor %}];


            function numberWithSpaces(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            }

            function addUser() {
                var userInput = document.getElementById("user-add-input");
                var username = userInput.value;
                userInput.value = '';

                if(!users.includes(username)) {
                    users.push(username);
                    updateUsers();
                }
            }

            function removeUser(username) {
                users = users.filter(e => e !== username);
                console.log(username);
                console.log(users);
                updateUsers();
            }

            function updateUsers() {
                var usersForm = document.getElementById("users-div");

                while (usersForm.hasChildNodes()) {
                    usersForm.removeChild(usersForm.lastChild);
                }

                for(var i=0; i < users.length; i++) {
                    var input = document.createElement("input");
                    input.type = "hidden";
                    input.name = "compare_user";
                    input.value = users[i];
                    usersForm.appendChild(input);

                    var p = document.createElement("div");
                    const name = users[i];
                    p.onclick = function() { removeUser(name); };
                    p.innerHTML = name;
                    p.className = "compare-user";
                    usersForm.appendChild(p);
                }
            }

            var colors = [
                "rgba(255, 255, 255, 1)",
                "rgba(81, 205, 160, 1)",
                "rgba(223, 121, 112, 1)",
                "rgba(76, 156, 160, 1)",
                "rgba(174, 125, 153, 1)",
                "rgba(201, 212, 92, 1)"
            ];
            var backgroundColors = [
                "rgba(255, 255, 255, 0.05)",
                "rgba(81, 205, 160, 0.05)",
                "rgba(223, 121, 112, 0.05)",
                "rgba(76, 156, 160, 0.05)",
                "rgba(174, 125, 153, 0.05)",
                "rgba(201, 212, 92, 0.05)"
            ];


            window.onload = function script() {

            updateUsers();
            var all_islands = {{all_islands}};
                var myTable = document.getElementById('islandTable');
                for (var i = 0; i < all_islands.length; i++) {
                    myTable.rows[all_islands[i][1]].cells[all_islands[i][0]].title  = '[' + all_islands[i][0] + ':' + all_islands[i][1] + ']';
                    myTable.rows[all_islands[i][1]].cells[all_islands[i][0]].style.background  = '#444';
                }
            var occupied_islands = {{occupied_islands}};
                var myTable = document.getElementById('islandTable');
                for (var i = 0; i < occupied_islands.length; i++) {
                    myTable.rows[occupied_islands[i][1]].cells[occupied_islands[i][0]].title  = '[' + occupied_islands[i][0] + ':' + occupied_islands[i][1] + ']';
                    myTable.rows[occupied_islands[i][1]].cells[occupied_islands[i][0]].style.background  = '#666';
                }
            var searched_islands = {{searched_islands}};
                for (var i = 0; i < searched_islands.length; i++) {
                    var myTable = document.getElementById('islandTable');
                    myTable.rows[searched_islands[i][1]].cells[searched_islands[i][0]].style.background  = '#0f0';

                }
            var own_islands = {{own_islands}};
            for (var i = 0; i < own_islands.length; i++) {
                var myTable = document.getElementById('islandTable');
                myTable.rows[own_islands[i][1]].cells[own_islands[i][0]].style.background  = '#fff';

            }

            var config = {
                  type: 'line',
                  data: {
                    datasets: [{
                      data: [{% for data in chart_data %} { x: new Date({{data.0.year}}, {{data.0.month}}-1, {{data.0.day}}), y: {{data.1}} }, {% endfor %}],
                      label: '{{user.user_name}}' + ' + (' + numberWithSpaces({{user_points_income}}) + ')',
                      labels: [{% for data in chart_data %} {{data.1}}, {% endfor %}],
                      lineTension: 0.3,
                      pointRadius: 3,
                      pointBorderColor: colors[0],
                      backgroundColor: backgroundColors[0],
                      borderColor: colors[0]
                    },
                    {% for compare_data in compare_datas %}
                    {
                      data: [{% for data in compare_data.data %} { x: new Date({{data.0.year}}, {{data.0.month}}-1, {{data.0.day}}), y: {{data.1}} }, {% endfor %}],
                      label: '{{compare_data.username}}' + ' + (' + numberWithSpaces({{compare_data.difference}}) + ')',
                      labels: [{% for data in compare_data.data %} {{data.1}}, {% endfor %}],
                      lineTension: 0.3,
                      pointRadius: 3,
                      pointBorderColor: colors[{{forloop.counter}} % colors.length],
                      backgroundColor: backgroundColors[{{forloop.counter}} % backgroundColors.length],
                      borderColor: colors[{{forloop.counter}} % colors.length]
                    },
                    {% endfor %}
                    ],
                  },
                  options: {
                    responsive: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var dataset = data.datasets[tooltipItem.datasetIndex];
                                var index = tooltipItem.index;
                                return numberWithSpaces(dataset.labels[index]);
                            }
                        }
                    },
                    plugins: {
                      legend: {
                        position: 'top',
                      },
                      title: {
                        display: true,
                        text: 'Chart.js Line Chart'
                      }
                    },
                  scales: {
                    xAxes: [{
                      type: 'time',
                      autoSkip: false
                    }],
                    yAxes: {
                      type: 'number',
                      autoSkip: false
                    },
                  }

                  },
                };
            var ctx = document.getElementById('chart').getContext('2d');
            window.chart = new Chart(ctx, config);
            };
        </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'helper/user_towns.css' %}">
        <title>{{title}}</title>
        {% load helper_extras %}

{% endblock %}
{% block content %}

    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}
    <div class="tile" style="margin-bottom: 0px;">
        <div class="row" style="width: 100%">
            <div class="col">
                <p class="rank-title">Ranking ogólny</p>
                <p class="rank-value">{{user.score|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Mistrzowie budowy</p>
                <p class="rank-value">{{user.master_builders|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Poziomy budynków</p>
                <p class="rank-value">{{user.building_levels|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Naukowcy</p>
                <p class="rank-value">{{user.scientists|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Poziomy badań</p>
                <p class="rank-value">{{user.research_level|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Generałowie</p>
                <p class="rank-value">{{user.generals|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Zapas złota</p>
                <p class="rank-value">{{user.gold|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Punkty ofensywy</p>
                <p class="rank-value">{{user.offensive|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Punkty obrony</p>
                <p class="rank-value">{{user.defensive|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Handlarz</p>
                <p class="rank-value">{{user.trading|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Surowce</p>
                <p class="rank-value">{{user.resources|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Datki</p>
                <p class="rank-value">{{user.donations|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Punkty abordażu</p>
                <p class="rank-value">{{user.piracy|number_commas}}</p>
            </div>
            <div class="col">
                <p class="rank-title">Populacja</p>
                <p class="rank-value">{{user.get_population|number_commas}}</p>
            </div>
        </div>
    </div>
    <div id="content-div">


            {% if towns %}
            <div class="tile" id="towns-div">
                <h5>Robotnicy
                    {% if request.user.is_staff %}
                    <a  title="Ranking surowców" class="icon-btn btn-rank" href="{% url 'helper:resources_rank' user.id %}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    </a>
                    {% endif %}
                </h5>

                <h6>
                    Razem: {{all_workers|number_commas}}
                </h6>
                <h6>
                    <img title="Drewno" src="{% static "helper/icons/icon_wood.png" %}" alt="" width="25px" height="20" > {{wood_workers|number_commas}}
                    <img title="Wino" src="{% static "helper/icons/icon_wine.png" %}" alt="" width="25px" height="20" > {{wine_workers|number_commas}}
                    <img title="Marmur" src="{% static "helper/icons/icon_marble.png" %}" alt="" width="25px" height="20" > {{marble_workers|number_commas}}
                    <img title="Kryształ" src="{% static "helper/icons/icon_glass.png" %}" alt="" width="25px" height="20" > {{crystal_workers|number_commas}}
                    <img title="Siarka" src="{% static "helper/icons/icon_sulfur.png" %}" alt="" width="25px" height="20" > {{sulfur_workers|number_commas}}
                </h6>
                <hr>
                <h5>Miasta ({{towns.count}})</h5>
                <table id="towns-table">
                    <tr>
                        <th>Miasto</th>
                        <th>Poziom</th>
                        <th>X Y</th>
                        <th>Wyspa</th>
                    </tr>
                    {% for town in towns%}
                        {% ifchanged town.island%}
                        <tr class="break-line">
                            <td colspan="100%"></td>
                        </tr>
                        {% endifchanged %}
                        <tr>
                            <td>
                                {% if town.level <= 1 %}
                                    <img src="{% static 'helper/town_halls/town_hall_1.png' %}" alt="" width="25px" height="25px" >
                                {% elif town.level <= 3 %}
                                    <img src="{% static 'helper/town_halls/town_hall_2.png' %}" alt="" width="25px" height="25px" >
                                {% elif town.level <= 6 %}
                                    <img src="{% static 'helper/town_halls/town_hall_3.png' %}" alt="" width="25px" height="25px" >
                                {% elif town.level <= 9 %}
                                    <img src="{% static 'helper/town_halls/town_hall_4.png' %}" alt="" width="25px" height="25px" >
                                {% elif town.level <= 12 %}
                                    <img src="{% static 'helper/town_halls/town_hall_5.png' %}" alt="" width="25px" height="25px" >
                                {% elif town.level <= 15 %}
                                    <img src="{% static 'helper/town_halls/town_hall_6.png' %}" alt="" width="25px" height="25px" >
                                {% elif town.level <= 17 %}
                                    <img src="{% static 'helper/town_halls/town_hall_7.png' %}" alt="" width="25px" height="25px" >
                                {% else %}
                                    <img src="{% static 'helper/town_halls/town_hall_8.png' %}" alt="" width="25px" height="25px" >
                                {% endif %}
                                {{town.town_name}}
                            </td>
                            <td>
                                {{town.level}}
                            </td>
                            <td>
                                {% ifchanged town.island %}
                                    [{{town.island.x}}:{{town.island.y}}]
                                {% endifchanged %}
                            </td>
                            <td>
                                {% ifchanged town.island %}
                                    {% if town.island %}
                                        <a title="[{{town.island.x}}:{{town.island.y}}]" href="{% url 'helper:island' user.id town.island.id %}">
                                            {{town.island.wood_level}}<img src="{{town.island.wood_resource.image_path.url}}" alt="Drewno" width="25px" height="20">
                                            {{town.island.luxury_level}}<img src="{{town.island.luxury_resource.image_path.url}}" alt="{{town.island.luxury_resource.name}}" width="25px" height="20">
                                            <img title="{{town.island.miracle.name}}" src="{{town.island.miracle.image_path.url}}" alt="{{town.island.miracle.name}}" width="20px" height="20px">
                                            {% if town.island.has_tower %} <img src="{% static 'helper/icons/tower.png'%}" title="Wieża Helios" alt="" width="10px" height="20px"> {% endif %}
                                        </a>

                                    {% endif %}
                                {% endifchanged %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="break-line">
                        <td colspan="100%"></td>
                    </tr>
                </table>
            </div>
            {% endif %}
        <div class="tile" id="map-div">
            <div id="search-row">
                <div class="search-col">
                    <form action="{% url 'helper:user_towns' user.id %}" method="get">
                        <div class="form-group">
                            <label>Zaznacz gracza</label>
                            <input class="form-control" name="username" placeholder="Nazwa gracza" value="{{username}}">
                        </div>

                        <button class="btn btn-success confirm-btn" type="submit">Zatwierdź</button>
                    </form>
                </div>
                <div class="search-col">
                    <form action="{% url 'helper:user_towns' user.id %}" method="get">
                        <div class="form-group">
                            <label>Zaznacz sojusz</label>
                            <input class="form-control" name="alliance_tag" placeholder="Nazwa sojuszu"  value="{{alliance_tag}}">
                        </div>
                        <button class="btn btn-success confirm-btn" type="submit">Zatwierdź</button>
                    </form>
                </div>
                <div class="search-col">
                    <form action="{% url 'helper:user_towns' user.id %}" method="get">
                        <div class="form-group">
                            <label>Zaznacz wyspy</label>
                            <div id="select-islands-div">
                                <div id="select-islands-type">
                                    <select class="form-control" name="search_type">
                                        <option value="sawmill_above" {% ifequal search_type 'sawmill_above' %} selected {% endifequal %}>Tartak powyżej</option>
                                        <option value="sawmill_below" {% ifequal search_type 'sawmill_below' %} selected {% endifequal %}>Tartak poniżej</option>
                                        <option value="luxury_above" {% ifequal search_type 'luxury_above' %} selected {% endifequal %}>Kopalnia powyżej</option>
                                        <option value="luxury_below" {% ifequal search_type 'luxury_below' %} selected {% endifequal %}>Kopalnia poniżej</option>
                                        <option value="luxury_wine" {% ifequal search_type 'luxury_wine' %} selected {% endifequal %}>Surowiec - Wino</option>
                                        <option value="luxury_marble" {% ifequal search_type 'luxury_marble' %} selected {% endifequal %}>Surowiec - Marmur</option>
                                        <option value="luxury_crystal" {% ifequal search_type 'luxury_crystal' %} selected {% endifequal %}>Surowiec - Kryształ</option>
                                        <option value="luxury_sulfur" {% ifequal search_type 'luxury_sulfur' %} selected {% endifequal %}>Surowiec - Siarka</option>
                                        <option value="towns_above" {% ifequal search_type 'towns_above' %} selected {% endifequal %}>Miasta powyżej</option>
                                        <option value="towns_below" {% ifequal search_type 'luxury_below' %} selected {% endifequal %}>Miasta poniżej</option>
                                        <option value="has_tower" {% ifequal search_type 'has_tower' %} selected {% endifequal %}>Wyspy z wieżą</option>
                                    </select>
                                </div>
                                <div id="select-islands-value">
                                    <input class="form-control" value="{{search_value}}" type="number" name="search_value">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success confirm-btn" type="submit">Zatwierdź</button>
                    </form>
                </div>
            </div>

            <hr>
            <div class="row color-row">
                <div class="col">
                    <div class="color-div user"></div>{{user.user_name}}
                </div>
                {% if searched_islands %}
                <div class="col">
                    <div class="color-div search"></div>{{username}}{{alliance_tag}}{{search_type_display}}
                </div>
                {% endif %}
                <div class="col">
                    <div class="color-div occupied"></div>Zajęte wyspy
                </div>
                <div class="col">
                    <div class="color-div empty"></div>Puste wyspy
                </div>
            </div>
            <hr>
            <div>
                <table id="islandTable">
                {% for i in 101|times %}
                    <tr>
                        {% for j in 101|times %}
                        <td class="island-square"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            </div>

        </div>

        <div class="tile" id="container" style="width: 800px">
            <div class="row">
                <div class="col col-4">



                    <form id="chart-users-form" action="{% url 'helper:user_towns' user.id %}" method="get">
                        <label>Użytkownicy</label>
                        <div id="users-div"></div>
                        <div class="input-group">
                            <input class="form-control" id="user-add-input"/>
                            <button class="btn btn-primary" onclick="addUser()">Dodaj</button>
                        </div>


                        <label>Ranking</label>
                        <select class="form-control" name="rank_type">
                            {% for rank_type in rank_types %}
                            <option value="{{rank_type.0}}" {% ifequal selected_rank_type rank_type.0 %} selected {% endifequal %}>{{rank_type.1}}</option>
                            {% endfor %}
                        </select>

                        <label>Od daty</label>
                        <input class="form-control" type="date" name="selected_date" value="{{ selected_date }}"/>
                        <button type="submit" class="confirm-btn btn btn-success">Wybierz</button>
                    </form>
                </div>
                <div class="col col-4"></div>
                <div class="col col-4"></div>
            </div>

             <hr>
            <canvas id="chart"></canvas>
        </div>
    </div>
{% endblock %}