{% extends "base.html" %}

{% load static %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'helper/user_ships.css' %}">
{% endblock %}
{% block content %}
    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}

    <div class="d-md-flex h-md-100 align-items-center">
        <div class="col-md-10 col-xl-10 p-0 ">
            <div class="tile">
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Miasto</th>
                        {% for ship in ships %}
                        <th title="{{ship.name}}&#013;Koszty: {{ship.hour_costs}}/h&#013;Punkty: {{ship.points}} ">
                            <img src="{{ship.image_path.url}}" alt="img" width="34px" height="35">
                        </th>
                        {% endfor %}
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for town_ships, no_ships in ships_instances %}
                        {% if town_ships %}
                        <tr>
                            <form action="{% url 'helper:save_ships' user.id %}" method="post">
                                {% csrf_token %}
                                <td title="[{{town_ships.0.town.island.x}}:{{town_ships.0.town.island.y}}]">{{town_ships.0.town.town_name}}</td>
                                {% for ship in town_ships %}
                                    <td><input class="ships-number-input" value="{{ship.number}}" maxlength="5" name="ship_number" {% if ship.number == 0 %} style="color: #565656;" {% endif %}/></td>
                                    <input type="hidden" value={{ship.id}} name="ship_id"  />
                                {% endfor %}
                                <td>
                                    {% if no_ships %}
                                    Brak
                                    {% endif %}
                                </td>
                                <td><button class="icon-btn confirm-btn" type="submit" title="Zatwierdź">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                      <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                                    </svg>
                                </button></td>
                            </form>
                            <td>
                                <form action="{% url 'helper:toggle_no_ships' user.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value={{town_ships.0.town.id}} name="town_id" />
                                    <button class="icon-btn confirm-btn" type="submit">
                                        {% if no_ships %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
                                          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                                        </svg>
                                        {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                                          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                                        </svg>
                                        {% endif %}
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                        <tr class="sum-tr">
                            <th>&#8721;</th>
                            {% for sum in sum_ships %}
                            <th>{{sum}}</th>
                            {% endfor %}
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th title="Koszty utrzymania"><img src="{% static "helper/icons/upkeep.png" %}" alt="something" width="16px" height="16" ></th>
                            {% for cost in costs %}
                            <th>{{cost}}</th>
                            {% endfor %}
                            <th>{{sum_costs}}</th>
                             <th></th>
                             <th></th>
                        </tr>
                        <tr>
                            <th title="Punkty generałów"><img src="{% static "helper/icons/army.png" %}" alt="something" width="16px" height="16" ></th>
                            {% for point in points %}
                            <th>{{point}}</th>
                            {% endfor %}
                            <th>{{sum_points}}</th>
                             <th></th>
                             <th></th>
                        </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}