{% extends "base.html" %}

{% load static %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'helper/user_buildings.css' %}">
{% endblock %}
{% block content %}
    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}
<div class="content-div">
    <div class="tile">
        <table class="table-bordered">
          <tr>
            <th>Miasto</th>
              {% for building in buildings %}
            <th><img src="{{building.image_icon_path.url}}" alt="img" width="32px" height="24"></th>
              {% endfor %}
          </tr>
         {% for town in building_instances %}
         <tr>
                  <th>{{town.0.building_town.town_name}}</th>
                  {% for building_instance in town %}
                        {% if building_instance.level > 0%}
                            <td is_upgrading="{{building_instance.is_upgraded}}" class="developing_td"  style="text-align:center;">
                                <input type="hidden" name="selected_building" value="{{building_instance.id}}" />
                                <a class="building-a" href="{% url 'helper:user_buildings' user.id %}?selected_building={{building_instance.id}}">
                                {% if building_instance.level == building_instance.building_type.max_level %}
                                <div class="max-level">
                                  {{building_instance.level}}
                                </div>
                                {% else %}
                                <div class="not-max-level">
                                  {{building_instance.level}}
                                </div>
                                {% endif %}

                                </a>
                            </td>
                        {% else %}
                            <td style="text-align:center;">
                                <input type="hidden" name="selected_building" value="{{building_instance.id}}" />
                                <a class="building-a" href="{% url 'helper:user_buildings' user.id %}?selected_building={{building_instance.id}}">
                                    <div class="level-div">
                                        -
                                    </div>
                                </a>
                            </td>
                        {% endif %}
                {% endfor %}
           </tr>
             {% endfor %}

        </table>
        <div style="display: flex; margin-top: 10px; justify-content: space-between;">
            <div>
                <form action="{% url 'helper:web_scrap_town' %}" method="post" style="display: flex">
                    {% csrf_token %}
                    <input class="form-control" type="text" name="html" placeholder="Wprowadź kod html" />
                    <input type="hidden" name="user_id" value="{{user.id}}" />
                    <button class="btn btn-success" type="submit">Wprowadź</button>
                </form>
            </div>
            <div id="sum-div">Suma poziomów {{level_sum}}</div>
        </div>


    </div>
     {% if selected_building %}
        <div class="tile">
            <img src="{{selected_building.building_type.image_path.url}}" alt="img">
            <div class="div-box">
                <div class="div-name">
                    <p>{{ selected_building.building_type.building_name }}</p>
                    <p>{% if selected_building.is_upgraded %} (W budowie) {% endif %}</p>
                    <p>{{ selected_building.building_town.town_name }}</p>
                </div>
                <hr>
                <form action="{% url 'helper:update_building' %}" method="post">
                    {% csrf_token %}
                    <div class="single-level-div">
                        <input type="hidden" name="building_instance_id" value="{{selected_building.id}}">
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <label>Poziom</label>
                        <input id="level-input" class="form-control" type="number" name="level" value="{{selected_building.level}}">
                        <label>
                            W rozbudowie
                        </label>
                        <input type="checkbox" class="form-control" name="is_upgraded" {% if selected_building.is_upgraded %} checked {% endif %} value="True">
                        <button class="btn btn-success" type="submit">Zatwierdź</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>

        {% if player_to_compare %}
        <div class="tile compare-div">
            <form action="{% url 'helper:compare_with_player' %}" method="post">
                {% csrf_token %}
                <label>Nazwa gracza</label>
                <input class="form-control"  maxlength="50" type="text" name="user_name"/>
                <button class="btn btn-success compare-button" type="submit" >Porównaj</button>
            </form>
        </div>


        <table class="table-bordered">
              <tr>
                <th>Miasto</th>
                  {% for building in buildings %}
                <th><img src="{{building.image_icon_path.url}}" alt="img" width="32px" height="24"></th>
                  {% endfor %}
              </tr>
             {% for town in building_instances %}
             <tr>
                      <th>{{town.0.building_town.town_name}}</th>
                      {% for building_instance in town %}
                            {% if building_instance.level > 0 %}
                                <td class="developing_td"  style="text-align:center;">
                                    <form action="{% url 'helper:user_buildings' %}" method="GET">
                                        {% csrf_token %}
                                        <a href="#" onclick="document.getElementById('form-id').submit();">
                                        {% if building_instance.level == building_instance.building_type.max_level %}
                                        <div class="max-level">
                                          {{building_instance.level}}
                                        </div>
                                        {% else %}
                                        <div class="not-max-level">
                                          {{building_instance.level}}
                                        </div>
                                        {% endif %}

                                        </a>
                                    </form>
                                </td>
                            {% else %}
                                <td style="text-align:center;">
                                    <form action="{% url 'helper:user_buildings' %}" method="GET">
                                        {% csrf_token %}
                                            <a href="#12" onclick="document.getElementById('form-id').submit();">
                                                <div class="level-div">-</div>
                                            </a>
                                        <input type="hidden" value="{{building_instance.id}}">
                                    </form>
                                </td>
                            {% endif %}
                    {% endfor %}
               </tr>
                 {% endfor %}
        </table>

        <div class="div-box">
            {{level_sum}}
        </div>
        {% endif %}
{% endblock %}