<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'helper/user_units.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'helper/favicon.ico' %}"/>
        <title>Jednostki - {{user.user_name}}</title>
    </head>
    <body>

    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}

    <div class="d-md-flex h-md-100 align-items-center">
        <div class="col-md-11 col-xl-11 p-0 h-md-100">
            <div class="main-div">
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Miasto</th>
                        {% for unit in units %}
                        <th title="{{unit.name}}&#013;Koszty: {{unit.hour_costs}}/h&#013;Punkty: {{unit.points}}">
                            <img src="{{unit.image_path.url}}" alt="img" width="34px" height="35">
                        </th>
                        {% endfor %}
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                    {% for town_units, no_units in units_instances %}
                        {% if town_units %}
                        <tr>
                            <form action="{% url 'helper:save_units' user.id %}" method="post">
                                {% csrf_token %}
                                <td title="[{{town_units.0.town.island.x}}:{{town_units.0.town.island.y}}]">{{town_units.0.town.town_name}}</td>
                                {% for unit in town_units %}
                                <td><input class="units-number-input"  value="{{unit.number}}" maxlength="5" name="unit_number" {% if unit.number == 0 %} style="color: #565656;" {% endif %}/></td>
                                <input type="hidden" value={{unit.id}} name="unit_id" />
                                {% endfor %}
                                <td>
                                    {% if no_units %}
                                    Brak
                                    {% endif %}
                                </td>
                                <td><button type="submit">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                      <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                                    </svg>
                                </button></td>
                            </form>

                             <td>
                                <form action="{% url 'helper:toggle_no_units' user.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value={{town_units.0.town.id}} name="town_id" />
                                    <button type="submit">
                                        {% if no_units %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
                                          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                                        </svg>
                                        {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                                          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                                        </svg>
                                        {% endif %}
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                        <tr class="sum-tr">
                            <th>&#8721;</th>
                            {% for sum in sum_units %}
                            <th>{{sum}}</th>
                            {% endfor %}
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr>
                            <th title="Koszty utrzymania"><img src="{% static "helper/upkeep.png" %}" alt="something" width="16px" height="16" ></th>
                            {% for cost in costs %}
                            <th>{{cost}}</th>
                            {% endfor %}
                            <th>{{sum_costs}}</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th title="Punkty generałów"><img src="{% static "helper/army.png" %}" alt="something" width="16px" height="16" ></th>
                            {% for point in points %}
                            <th>{{point}}</th>
                            {% endfor %}
                            <th>{{sum_points}}</th>
                            <th></th>
                            <th></th>
                        </tr>
                </table>
                </div>
            </div>
        </div>
    </div>



</body>
</html>