{% extends "base.html" %}
{% block head %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'helper/user_buildings.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'helper/favicon.ico' %}"/>
        <title>Budynki - {{user.user_name}}</title>
{% endblock %}
{% block content %}
    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}

        <table class="table-bordered">
          <tr>
            <th>Miasto</th>
              {% for building in buildings %}
            <th><img src="{{building.image_icon_path.url}}" alt="img" width="32px" height="24"></th>
              {% endfor %}
          </tr>
         {% for town in building_instances %}
         <tr>
                  <th>{{town.0.building_town.town_name}}</th>
                  {% for building_instance in town %}
                        {% if building_instance.level > 0%}
                            <td is_upgrading="{{building_instance.is_upgraded}}" class="developing_td"  style="text-align:center;">
                                <a href="{% url 'helper:building' building_instance.id %}">
                                {% if building_instance.level == building_instance.building_type.max_level %}
                                <div class="max-level">
                                  {{building_instance.level}}
                                </div>
                                {% else %}
                                <div class="not-max-level">
                                  {{building_instance.level}}
                                </div>
                                {% endif %}

                                </a>
                            </td>
                        {% else %}
                            <td style="text-align:center;">
                                <a href="{% url 'helper:building' building_instance.id %}">
                                <div class="level-div">
                                    -
                                </div>
                                </a>
                            </td>
                        {% endif %}
                {% endfor %}
           </tr>
             {% endfor %}

        </table>

        <div class="div-box">
            {{level_sum}}
        </div>
        {% if player_to_compare %}
        <div class="main-div compare-div">
            <form action="{% url 'helper:compare_with_player' %}" method="post">
                {% csrf_token %}
                <label>Nazwa gracza</label>
                <input class="form-control"  maxlength="50" type="text" name="user_name"/>
                <button class="btn btn-success compare-button" type="submit" >Porównaj</button>
            </form>
        </div>


        <table class="table-bordered">
              <tr>
                <th>Miasto</th>
                  {% for building in buildings %}
                <th><img src="{{building.image_icon_path.url}}" alt="img" width="32px" height="24"></th>
                  {% endfor %}
              </tr>
             {% for town in building_instances %}
             <tr>
                      <th>{{town.0.building_town.town_name}}</th>
                      {% for building_instance in town %}
                            {% if building_instance.level > 0%}
                                <td is_upgrading="{{building_instance.is_upgraded}}" class="developing_td"  style="text-align:center;">
                                    <a href="{% url 'helper:building' building_instance.id %}">
                                    {% if building_instance.level == building_instance.building_type.max_level %}
                                    <div class="max-level">
                                      {{building_instance.level}}
                                    </div>
                                    {% else %}
                                    <div class="not-max-level">
                                      {{building_instance.level}}
                                    </div>
                                    {% endif %}

                                    </a>
                                </td>
                            {% else %}
                                <td style="text-align:center;">
                                    <a href="{% url 'helper:building' building_instance.id %}">
                                    <div class="level-div">
                                        -
                                    </div>
                                    </a>
                                </td>
                            {% endif %}
                    {% endfor %}
               </tr>
                 {% endfor %}
        </table>

        <div class="div-box">
            {{level_sum}}
        </div>
        {% endif %}
{% endblock %}