{% extends "base.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'helper/achievements.css' %}">
    {% load helper_extras %}
{% endblock %}

{% block content %}
    {% load widget_tweaks %}

    {% include "helper/navigation.html" %}

    <div class="tile">
        <div class="categories-div">
            {% for category, progress in achievement_categories %}
                <a  class="btn btn-info {% if category.id == active_category %} disabled {% endif %}" href="{% url 'helper:achievements_category' category.id %}" >{{category.name}} {{progress.0}}/{{progress.1}}</a>
            {% endfor %}
        </div>
        <div class="content-div">
            {% for achievement in achievements %}
                {% ifequal achievement.achievement_level.level achievement.achievement_level.achievement.max_level %}
                    {% include 'helper/achievements/achievement_done_tile.html' %}
                {% else %}
                    {% include 'helper/achievements/achievement_tile.html' %}
                {% endifequal %}
            {% endfor %}
        </div>
    </div>
{% endblock %}